<% include ./partials/header %>

  <section class="row">
    <div class="col-md-5 col-md-offset-2 col-sm-7 col-sm-offset-1 main-corgi">
      <h2>Do you like <%= name %>?</h2>
      <img src="<%= picture %>" alt="<%= name %>" class="corgi-banner img-responsive">
      <br>
      <button id="paw-left">Paw Left</button>
      <form style="display: inline" name="like_form" action="/" method="POST">
      <input style="display: none" type="text" name="likes" value="<%= dog_id %>">
      <input type="submit" name="submit" value="Paw Right">
      </form>
    </div>
    <div class="col-md-4 col-sm-3 corgi-stats">
      <br>
      <br>
      <br>
      <h3>Occupation: <br><br><%= occupation %><br><br> Age: <br><br><%= age %><br><br> Neutered: <br><br><%= neuter %></h3>
      
    </div>
  </section>

  <section>
    <h3>Dogs You've Liked</h3>
    
  </section>

<% include ./partials/footer %>